doctype html
html(lang="ru")
	head
		title= pageTitle111
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/common.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic", type='text/css')
	body
		main.main
			.wrapper
				.filters
				ul.catalog

		template#template(style={display: 'none'})
			li.card
				a.card__link(href="#")
					.card__img-wrapper
						img.card__img(src="img/pic/")
					h2.card__title
					.card__descr
					.card__tags #[.card__tag]

		script(src="js/scripts.js")
